services:
  redis:
    image: redis:alpine
    restart: always
    ports:
      - "6379:6379"

  api:
    build: ./server
    image: ghcr.io/rendifuji/movio-server:latest
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    depends_on:
      - redis

  client:
    build: ./client
    image: ghcr.io/rendifuji/movio-client:latest
    volumes:
      - ./certs:/etc/nginx/certs:ro
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - api